# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Python
venv
__pycache__
*.pyc
*.pyo
*.pyd

# Next.js
.next
out

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

# Misc
*.log
